matrix:
  include:
    - language: java
      jdk:
        - oraclejdk11
      before_script:
        - cd base-app-server
      script:
        - mvn clean install
    - language: node_js
      node_js:
        - "12"
      before_script:
        - cd base-app-ui
          npm install -g @angular/cli
      script: ng build --prod