<div class="row justify-content-center">
    <div class="col-lg-8 col-12">
        
        <div class="app-header">
            <h2>Users ({{ collectionSize }})</h2>
        </div>

        <div class="table-toolbar">
            <a href="#" routerLink="/user" class="text-light"><i class="fas fa-plus"></i> Create new User</a>
        </div>

        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th>#</th>
                <th [columnName]="'firstname'" [active]="sort.name" sortable (ngModelChange)="getSort($event)">First name</th>
                <th [columnName]="'lastname'" [active]="sort.name" sortable (ngModelChange)="getSort($event)">Last name</th>
                <th [columnName]="'email'" [active]="sort.name" sortable (ngModelChange)="getSort($event)">Email</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users; let i = index;">
                <th>{{ i + 1 }}</th>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td class="text-right">
                    <button class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt"></i></button>
                    <button class="btn btn-danger btn-sm ml-1"><i class="fas fa-trash-alt"></i></button>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="d-flex justify-content-center mt-5">
            <ngb-pagination
              [collectionSize]="collectionSize"
              [(page)]="page"
              [pageSize]="size"
              (pageChange)="findAll()"></ngb-pagination>
          </div>
    </div>
</div>
